#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  /* Header. Logos, button and title. */


body {
  /* background:linear-gradient(to top left, #E0102F, white); */
  background: red;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

  .logo-img {
    height: 50vh;
    width: 70vw;
    justify-content: center;
  }
  
  #start-button {
    background-color: white;
    color: red;
    padding: 15px 30px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 2rem;
    transition: 1s;
    margin-bottom: 20px;
  }
 
  #start-button:hover {
    transform: scale(1.5);
  }
  
  #rules-button {
    background-color: white;
    color: red;
    padding: 15px 30px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 2rem;
    transition: 1s;
    width: 14vw;
  }
  
  #rules-button:hover {
    transform: scale(1.5);
  }

  .try-again {
    background-color: white;
    color: red;
    padding: 15px 30px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 2rem;
    transition: 1s;
    width: 14vw;
  }
  

.hidden {
  display: none !important;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.gif h1 {
  color: white;
  text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.body-princess {
  background-color: black;
}